body{
  margin: 0;
  padding: 0;
}
.header{
  background-color: #f44336;
  padding: 20px 30px;
  color: white;
  text-align: center;
  max-width: 500px;
  margin: 20px auto;
}
.header h2{
  margin: 5px 0 20px 0;
}
.input-group{
  display: flex;
  max-width: 500px;
}
.header input{
  margin: 0;
  border: 0;
  border-radius: 0;
  width: 65%;
  padding: 10px;
  font-size: 16px;
}
.addBtn {
  padding: 10px;
  width: 25%;
  background: #d9d9d9;
  color: #555;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  border: none;
}
.addBtn:hover{
  background-color: #bbb;
}
.todo-list-container {
  width: 100%;
  max-width: 500px;
  margin: auto;
}
.todo-item {
  cursor: pointer;
  align-items: center;
  transition: 0.2s;
  padding: 12px 20px;
  background: #eee;
  font-size: 18px;
 display: flex;
 border-bottom: 1px solid #ddd;
}
.todo-item:nth-child(odd) {
  background: #f9f9f9;
}
.todo-item:hover{
  background: #ddd;
}
.todo-item p{
  flex-grow: 1;
  max-width: 0 15px;
  text-align: left;
  
}

.todo-item.checked {
  background: #22b90e;
  color: #fff;
  text-decoration: line-through;
}
.todo-item button {
  background: none;
  font-size: 16px;
  cursor: pointer;
  border: none;
  padding: 10px 15px;
}
.todo-item button:hover {
  background-color: #bbb;
  color: white;
}